<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add shop</title>
    <h1>Please, add new shop</h1>
</head>
<body>
<form action="#" method="post" th:action="@{/shops/add_shop}" th:object="${shop}">
    <span>Name</span>
    <span th:errors="*{name}">Name Error</span>
    <br>
    <input type="text" th:type="text" th:field="*{name}">
    <br>
    <span>Location</span>
    <span th:errors="*{location}">Location Error</span>
    <br>
    <input type="text" th:type="text" th:field="*{location}">
    <br>
    <br>
    <input type="submit">
</form>
<br>
<a href="${pageContext.request.contextPath}/shops" th:href="@{/shops}">Back to shops</a>
<br>
<br>
<a href="${pageContext.request.contextPath}/" th:href="@{/}">Go to home page</a>
</body>
</html>
