<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
    <h1>Please, add new item</h1>
</head>
<body>
<form action="#" method="post" th:action="@{/items/add_item}" th:object="${item}">
    <span>Name</span>
    <span th:errors="*{name}">Name Error</span>
    <br>
    <input type="text" th:type="text" th:field="*{name}">
    <br>
    <span>Location</span>
    <span th:errors="*{description}">Description Error</span>
    <br>
    <input type="text" th:type="text" th:field="*{description}">
    <br>
    <span>Price</span>
    <span th:errors="*{price}">Price Error</span>
    <br>
    <input type="text" th:type="text" th:field="*{price}">
    <br>
    <span>Shop</span>
    <select th:field="*{shopId}">
        <option th:each="shop : ${shops}" th:value="${shop.id}" th:text="${shop.name}"></option>
    </select>
    <br>
    <br>
    <input type="submit">
</form>
<br>
<a href="${pageContext.request.contextPath}/items" th:href="@{/items}">Back to items</a>
<br>
<br>
<a href="${pageContext.request.contextPath}/" th:href="@{/}">Go to home page</a>
</body>
</html>

