<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shops</title>
</head>
<body>
<h1>Shops</h1>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Location</td>
    </tr>
    </thead>
    <tbody th:each="shop: ${shops}">
    <tr>
        <form method="get" th:action="@{/add_doc}">
            <td th:text="${shop.name}"></td>
            <td th:text="${shop.location}"></td>
            <td>
                <input type="hidden" name="id" th:value="${shop.id}">
            </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>