<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shops</title>
</head>
<body>
<h1>Shops</h1>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Location</td>
    </tr>
    </thead>
    <tbody th:each="shop: ${shops}">
    <tr>
        <td th:text="${shop.name}"></td>
        <td th:text="${shop.location}"></td>
        <td>
            <input type="hidden" name="id" th:value="${shop.id}">
        </td>
    </tr>
    </tbody>
</table>
<h2>Search item by</h2>
<form action="#" th:method="GET" th:action="@{/shops/search_shop}" th:object="${shops_by_location}">
    <span>Name</span>
    <input type="text" th:type="text" th:field="*{location}">
    <br>
    <input type="submit" value="search">
</form>
<br>
<a href="${pageContext.request.contextPath}/add_shop" th:href="@{/shops/add_shop}">Go add shop</a>
<br>
<br>
</body>
</html>